// colors
$grey: #dddddd;
$brand-primary: #397ab1;
$light-gray: #f9f9f9;
$dark-gray: #777777;
//body
$body-background-color: #fafafa;
$body-default-color:#333333;
$body-default-font-family: Helvetica, Arial, sans-serif;
//spacing
$space: 1.4rem;
$site-max-width: 100rem;
$large-space: 2.8rem;

// font sizes
$base-font-size: 1.4rem;
$large-font-size:2.2rem;

// menu
$menu-height: 4rem;
// form inputs
$input-border: $grey;
$input-spacing: 1rem;

// boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;
$boxed-view-border-color:$grey;

// buttons
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-gray;
$button-secondary-color: $dark-gray;
$button-secondary-border-color: $grey;
  
//header
 $header-bg: $brand-primary;
 $header-color: white;
 $header-height: 6rem;

 //item
 $item-bg: $light-gray;
 $item-border-color: darken( $item-bg, 8%);
 $item-text-color: $dark-gray;
 $item-border-width: 4px;

 //page content
 $page-content-sidebar-width: 30rem;
 $page-content-main-width: calc(#{$site-max-width} -  #{$page-content-sidebar-width});
$page-content-height: calc(100vh - #{$header-height});